.contactFormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px;
}

.heading {
  color: rgb(70, 65, 65);
  font-weight: 600;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
}

.form1 {
  width: 35%;
  padding: 100px 4%;
  background-color: #f9f9f9;
  /* box-shadow: 20px 20px 20px; */
  box-shadow: 0 0 26px rgb(23 24 31 / 37%);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.form-label {
  display: flex;
  gap: 11px;
  align-items: center;
  color: #010000;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

.input-textarea {
  min-height: 30px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgb(82, 66, 66);
  padding: 12px 26px;
  margin-bottom: 30px;
}

.input-textarea:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(92, 110, 231, 0.7);
}

.form-btn {
  margin: 30px;
  border: none;
  border-radius: 50px;
  padding: 12px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  background-color: #544cf9;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-logo {
  border: none;
  box-shadow: none;
  height: 24px;
  width: 24px;
  color: #544cf9;
  padding: 0px;
  background-color: #f9f9f9;
}

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1000;
}

@media screen and (max-width: 800px) {
  .form1 {
    width: 70%;
    margin: auto;
  }
}
.form-btn:hover {
  color: black;
}
