.myGigs {
  display: flex;
  justify-content: center;
}
.myGigs .loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myGigs .container {
  width: 75%;
  margin: auto;
  padding: 50px 0px;
}
.myGigs .container .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.myGigs .container .title button {
  color: #fff;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.myGigs .container table {
  width: 100%;
}
.myGigs .container table tr {
  height: 50px;
  cursor: pointer;
}
.myGigs .container table tr th {
  text-align: left;
}
.myGigs .container table tr td img {
  width: 50px;
  height: 25px;
  -o-object-fit: cover;
  object-fit: cover;
}
.myGigs .container table tr .delete {
  width: 20px;
  cursor: pointer;
}
.myGigs .container table tr:nth-child(even) {
  background-color: rgba(0, 255, 98, 0.0588235294);
}
@media screen and (max-width: 900px) {
  .myGigs .container {
    width: 90%;
  }
}
