@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.add {
  display: flex;
  justify-content: center;
}
.add .container {
  width: 85%;
  margin: auto;
  padding: 50px 0;
}
.add .container h1 {
  color: rgb(70, 65, 65);
  font-weight: 600;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
}
.add .container .sections {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.add .container .sections .left select .options {
  padding: 20px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}
.add .container .sections .left select .options:hover {
  color: pink;
  background-color: aqua;
}
.add .container .sections .left .imagesInput {
  margin: 18px;
  border: 1px solid #5f63ff;
  color: #5f63ff;
  border-radius: 8px;
  padding: 10px 20px;
  width: 60%;
  text-align: center;
}

.add .container .sections .left .imagesInputs {
  display: flex;
}
.add .container .sections .left .imagesInput:hover {
  background-color: #5f63ff;
  color: #fff;
}
.add .container .sections .left #cover1,
.add .container .sections .left #cover2 {
  display: none;
  border: none;
  display: none;
}
.add .container .sections .left,
.add .container .sections .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
.add .container .sections .left label,
.add .container .sections .right label {
  letter-spacing: 0.025em;
  color: #010000;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.add .container .sections .left input,
.add .container .sections .left select,
.add .container .sections .left textarea,
.add .container .sections .right input,
.add .container .sections .right select,
.add .container .sections .right textarea {
  min-height: 30px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgb(82, 66, 66);
  padding: 12px 26px;
}
.add .container .sections .left input:focus,
.add .container .sections .left select:focus,
.add .container .sections .left textarea:focus,
.add .container .sections .right input:focus,
.add .container .sections .right select:focus,
.add .container .sections .right textarea:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(92, 110, 231, 0.7);
}
.add .container .sections .left input:focus::-moz-placeholder,
.add .container .sections .left select:focus::-moz-placeholder,
.add .container .sections .left textarea:focus::-moz-placeholder,
.add .container .sections .right input:focus::-moz-placeholder,
.add .container .sections .right select:focus::-moz-placeholder,
.add .container .sections .right textarea:focus::-moz-placeholder {
  color: transparent;
}
.add .container .sections .left input:focus::placeholder,
.add .container .sections .left select:focus::placeholder,
.add .container .sections .left textarea:focus::placeholder,
.add .container .sections .right input:focus::placeholder,
.add .container .sections .right select:focus::placeholder,
.add .container .sections .right textarea:focus::placeholder {
  color: transparent;
}
.add .container .sections .left .images,
.add .container .sections .right .images {
  display: flex;
  align-items: center;
  gap: 20px;
}
.add .container .sections .left .images .imagesInput,
.add .container .sections .right .images .imagesInput {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.add .container .sections .left .images button:disabled,
.add .container .sections .right .images button:disabled {
  color: white;
  background-color: gray;
  cursor: not-allowed;
}
.add .container .sections .left button,
.add .container .sections .right button {
  margin-top: 10px;
  border: none;
  padding: 16px;
  border-radius: 5px;
  background-color: #0d6efd;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
.add .container .sections .right .add {
  display: flex;
  justify-content: space-between;
  gap: 18x;
}
.add .container .sections .right .add input {
  width: 80%;
}
.add .container .sections .right #btnAdd {
  margin: 0px 10px;
}
.add .container .sections .right .addedFeatures {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.add .container .sections .right .addedFeatures button {
  height: 30px;
  width: 50%;
  font-size: 12px;
  font-weight: 400;
  background-color: transparent;
  color: gray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #ccc;
}
@media screen and (max-width: 900px) {
  .add .container .sections {
    flex-direction: column;
  }
}
